<div class="mt-5 search-form">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">Từ Khóa</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        name="q"
        placeholder="Search..."
      />

    </div>
    <div class="form-group">
      <label for="gender-input">Từ Khóa</label>
      <select class="form-control" id="gender-input" name="gender">
        <option value="">-- Chọn giới tính --</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>

    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>